<a href="https://colab.research.google.com/github/moveformyfuture/House_Price_Expectation/blob/main/House_Price_Expectation_ETR%2BRF%2BGBR%2BXGB%2BHGB%2BNGB%2BCAT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
from pandas import read_csv, set_option

from sklearn.model_selection import cross_val_score, train_test_split, RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from sklearn.pipeline import Pipeline

from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.utils import resample, shuffle

# 구글 드라이브에 접근할 수 있도록 아래 코드 입력
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
# 데이터셋 설정
x_train=read_csv('/content/drive/MyDrive/Colab Notebooks/집값예측 프로젝트/train.csv')
x_test=read_csv('/content/drive/MyDrive/Colab Notebooks/집값예측 프로젝트/test.csv')

In [9]:
# train data tjfwjd
x_train.describe()

                id  Overall Qual  ...  Garage Yr Blt         target
count  1350.000000   1350.000000  ...    1350.000000    1350.000000
mean    675.500000      6.208889  ...    1978.471852  186406.312593
std     389.855743      1.338015  ...      25.377278   78435.424758
min       1.000000      2.000000  ...    1900.000000   12789.000000
25%     338.250000      5.000000  ...    1961.000000  135000.000000
50%     675.500000      6.000000  ...    1978.500000  165375.000000
75%    1012.750000      7.000000  ...    2002.000000  217875.000000
max    1350.000000     10.000000  ...    2207.000000  745000.000000

[8 rows x 12 columns]